# pathes
SCRIPT_PATH=/home/bert/build_qemu_images
BUILD_ROOT=/home/bert/build_qemu_images/clfs_cross_tools
FILES=/home/bert/build_qemu_images/clfs_cross_tools/files
CLFS=/home/bert/build_qemu_images/clfs_cross_tools/system/mips64-64
CLFS_SOURCES=/home/bert/build_qemu_images/clfs_cross_tools/system/mips64-64/sources
CLFS_TOOLS=/home/bert/build_qemu_images/clfs_cross_tools/system/mips64-64/tools
CLFS_CROSS_TOOLS=/home/bert/build_qemu_images/clfs_cross_tools/system/mips64-64/cross-tools
PATH=/cross-tools/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
LC_ALL=POSIX
CFLAGS=
CXXFLAGS=
# target
TARGET_SYSTEM=mips64-64
CLFS_TARGET=mips64el-unknown-linux-gnu
LINUX_ARCH=mips
BUILD64=-march=5kc -mtune=5kc -mabi=64
GCCTARGET=-march=5kc -mtune=5kc
