# pathes
SCRIPT_PATH=/home/bert/build_qemu_images
BUILD_ROOT=/home/bert/build_qemu_images/clfs_cross_tools
FILES=/home/bert/build_qemu_images/clfs_cross_tools/files
CLFS=/home/bert/build_qemu_images/clfs_cross_tools/system/alpha
CLFS_SOURCES=/home/bert/build_qemu_images/clfs_cross_tools/system/alpha/sources
CLFS_TOOLS=/home/bert/build_qemu_images/clfs_cross_tools/system/alpha/tools
CLFS_CROSS_TOOLS=/home/bert/build_qemu_images/clfs_cross_tools/system/alpha/cross-tools
PATH=/cross-tools/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
LC_ALL=POSIX
CFLAGS=
CXXFLAGS=
# target
TARGET_SYSTEM=alpha
CLFS_TARGET=alphaev67-unknown-linux-gnu
LINUX_ARCH=alpha
BUILD64=-mcpu=ev67 -mtune=ev67
GCCTARGET=-mcpu=ev67 -mtune=ev67
